<div id="portfolioSect">
  <h2 class="text-left">Portfolio</h2>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="thumbnail">
        <a href="https://judebalasingam.wixsite.com/photography"><img src="http://i63.tinypic.com/v3hydy.jpg" alt="Sheron's Photography Website"></a>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="thumbnail">
        <a href="https://juda-project-playground.herokuapp.com"><img src="http://i63.tinypic.com/2m3fu3s.jpg" alt="Sheron's Ruby Practice Website"></a>
      </div>
    </div>
  </div>
</div>
